---
layout: default
title: Anderson Genomics Lab / Projects
categories: 
 - projects
---
<div class="bigspacer"></div>

<div class='col-md-12 smallhead'>Members of the Anderson Genomics Lab work on projects designed to understand plant genomics, transposable elements, and maize development.
 
<div class="bigspacer"></div>

<div class="list-group">
{% for project in site.categories.projects %}

  <a href="{{ project.url }}" class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-sm col-sm-auto pr-0">
            {% if project.image %}
                <img style="width:50px;" src="{{ project.image }}">
            {% else %}
                <img style="width:50px;" src="/images/null.png">
            {% endif %}
        </div>
        <div class="col-sm px-3">
            <div class="pull-right smallhead text-dark">{{ project.title }}</div>
            <div class="note my-2 text-muted">{{ project.description }}</div>
            <div class="note my-2 text-muted">{{ project.contributors | join: ", " }}</div>
        </div>
      </div>
  </a>

{% endfor %}
</div>

<div class="bigspacer"></div>
