---
layout: default
title: Anderson Genomics Lab
categories:
 - home
---

<div class="row justify-content-md-center">
	<div class="col col-md-auto">
		<object class="pull-left biglogo" data="/images/smaller_logo.png" type="image/png"></object>
	</div>
	<div class="col col-md-auto">
		<div class="logobox bigtitle">Anderson Genomics Lab</div>
	</div>
</div>

<div class="bigspacer"></div>
<div class="row justify-content-md-center">
	<div>
		<object data="/images/maize02.jpg" type="image/jpg" height="210" width="280" transform: rotate(90deg)></object>
		<object data="/images/maize01.jpg" type="image/jpg" height="210" width="280"></object>
		<object data="/images/maize03.jpg" type="image/jpg" height="210" width="157.5"></object>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12 smallhead">
       The Anderson Genomics lab will open in January 2020 - Please contact Sarah if you are interested in joining the team!	</div>
</div>

<hr class="my-4">

{% include 4publications.html %}

<hr class="my-4">

{% include 4projects.html %}

<div class="bigspacer"></div>
