---
layout: default
title: Anderson Genomics Lab
categories:
 - home
---

<div class="row justify-content-md-center">
	<div class="col col-md-auto">
		![](/images/small_logo.tiff)
	</div>
	<div class="col col-md-auto">
		<div class="logobox bigtitle">Anderson Genomics Lab</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12 smallhead">
       The Anderson Genomics lab will open in January 2020 - Please contact Sarah if you are interested in joining the team!	</div>
</div>

<hr class="my-4">

{% include 4publications.html %}

<hr class="my-4">

{% include 4projects.html %}

<div class="bigspacer"></div>
