<div class="row">
	<div class="col-md-12">
		<a class="bighead" href="/posters/">Recent Poster Presentations</a>
	</div>
</div>

<div class="bigspacer"></div>

<div class="card-deck">
	{% for posters in site.categories.posters limit:4 %}
    <div class="card">
        <a class="text-dark" href="{{ poster.url }}">
	{% if poster.image %}
        <img class="card-img-top" src="{{ poster.image }}" alt="{{ poster.ref }}">
    {% else %}
        <img class="card-img-top" src="/images/null.png" alt="{{ poster.ref }}">
    {% endif %}
        </a>
        <div class="card-body">
            <h5 class="card-title">
                <i class="fas fa-file fa-fw"></i>
                <a class="text-dark" href="{{ poster.url }}">
                {{ poster.title }}
                </a>
            </h5>
            <p class="card-text">{{ poster.ref }}</p>

        </div>
        <div class="card-footer">
            <small class="text-muted">Presented {{ poster.date | date: "%-d %b %Y" }}</small>
        </div>
	</div>
	{% endfor %}
</div>
